header {
    background:  #b31c42ef;
    color: #fff;
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .titulo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  @media screen and (max-width: 768px) {
    nav{
      flex-direction: column;
      align-items: center;
    }
    
  }
  